body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

body {
	width:100%;
	background-color:#fff;
	padding:0;
	margin:0;
}

.hidden { visibility:hidden; }
.no-display { display:none; }

#container {
	min-width:800px;
	width: 909px;
	padding:0;
	margin: 0 auto 0 auto;
	height:100%;
}

#logo {
	text-indent:-9999px;
	background:url(../img/logo_wknyc.gif) no-repeat;
	width:99px;
	height:56px;
	position:absolute;
	top:0px;
	right:0px;
	display:none;
}

#hero {
	width:100%;
	height:218px;
	position:relative;
	top:97px;
}

.letter {
	width:202px;
	height:218px;
	float:left;
	position:relative;
}

#main {
	position:relative;
	top:145px;
}

h2 {
	text-indent:-9999px;
	padding-bottom:15px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.welcome {
	width:350px;
	height:360px;
	overflow:hidden;
	padding-right:50px;
}

.welcome p {
	font-family:Helvetica Neue;
	font-size:18px;
	color:#b2b2b2;
	padding-bottom:15px;
}

.welcome h2 {
	width:294px;
	height:81px;
	background:url(../img/hd_welcome.gif) no-repeat;
}

.city {
	width:476px;
	height:393px;
	background:url(../img/icon_city.gif) no-repeat;
}

/*letter styles*/
#w {width:202px;}
#k {width:179px;}
#n{width:183px;}
#y{width:157px;}
#c{width:150px;}
#plus{
	width:48px;
	height:48px;
	float:left;
	position:relative;
	top:80px;
	margin-left:-10px;
}